
// colors:
$gold: #D7B740;
$silver:#E5E5E5;
$white: #fff;

:export {
  silver: $silver;
  white: $white;
  gold: $gold;
}

.App {
  text-align: center;;
    min-height: 100vh;
    display: flex;
    align-items: left;
}